.box{
  position: relative;
  top: 200px;
  width: 50%;
  
  
}

.App{ 
  color: white;
  height: 100vh;
}

.title{
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: large;
}